*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
}

input, button {
    width: 18rem;
    padding: 5px;
}

button {
    background-color: royalblue;
    color: white;
    border:none;  
    border-radius: 6px;  
}

h2 {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

table {
    background-color: royalblue;
    margin: auto;
    color: white;
    width: 300px;
    border-radius: 6px;
}

tr {
    display: flex;
    padding: 10px;
}

td:first-child {
    width: 80%;
    border-bottom: 1px solid white;
}